<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4WP0CXq71CrsZ_W2D_UY4PHtAwiVTUOs</string>
	<key>GCM_SENDER_ID</key>
	<string>246980378222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wrteam.edemand.provider</string>
	<key>PROJECT_ID</key>
	<string>spotserve-provider</string>
	<key>STORAGE_BUCKET</key>
	<string>spotserve-provider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246980378222:ios:c1f4c89acbb7603e71707f</string>
</dict>
</plist>